.body {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: end;
  gap: 12px;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 52px;
  height: 27px;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 20px;
  margin-left: -25px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 375px) {
  .body {
    height: 130px;
  }

  .tooltip .tooltiptext {
    width: 48px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

  .tooltiptext {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
  }
}
